<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body class="{{ page.layout }}{% if page.url == '/' %} home{% endif %}">

    {% include sidebar.html %}

    <main class="container">
      <div class="content-box clearfix">
      {{ content }}
      </div>
    </main>

    {% comment %} {% include custom-foot.html %} {% endcomment %}

    <div id="actGotop" class="fa fa-angle-up" style="display: none;"></div>
    <script type="text/javascript">
      // 回到顶部功能
      $('.container').scroll(function(){
        if($('.container').scrollTop() >= 1000){
          $('#actGotop').fadeIn(300);
        }else{
          $('#actGotop').fadeOut(300);
        }
      });
      $('#actGotop').click(function(){
        $('.container').animate({scrollTop: '0px'}, 800);
        console.log('click')
      });
    </script>
  </body>
</html>
